
<!DOCTYPE html>
<
            margin-bottom:20px;
        }

        h1{
            margin-bottom:15px;
            font-size:32px;
        }

        h2{
            margin-top:20px;
            margin-bottom:10px;
            color:#ffb347;
        }

        p{
            color:#ddd;
            line-height:1.6;
        }

        .links{
            margin-top:25px;
        }

        .links a{
            display:inline-block;
            margin:10px;
            padding:12px 20px;
            border-radius:10px;
            text-decoration:none;
            color:white;
            background:#ff4b8b;
            transition:0.3s;
        }

        .links a:hover{
            background:#ff2d75;
        }

    </style>

</head>

<body>

    <div class="card">

        <img src="{{ photo }}" alt="Profile Photo">

        <h1>{{ name }}</h1>

        <h2>Skills</h2>
        <p>{{ skill }}</p>

        <h2>Project</h2>
        <p>{{ title }}</p>

        <div class="links">

            <a href="{{ github }}" target="_blank">
                GitHub
            </a>

            <a href="{{ linkedin }}" target="_blank">
                LinkedIn
            </a>

        </div>

    </div>

</body>

</html>